h1 {
  color: black;
  font-family: "Comforter Brush", cursive;
  font-family: "Smooch", cursive;
}

.images
{
  width: 100%;
  height: auto;
}

.Prof{
  display: flex;
  align-items: center;
  justify-content: center;
}