{%extends 'all-photos/base.html'%}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<br>
<br>


<div class="container Prof">
  <div class="row" style="width:40%; height:auto;">
    {% for pic in image %}

 {% if profile.profile_photo %}
            
                    <img src="{{profile.profile_photo.url}}" alt="My profile picture" style="border-radius: 50%; width: 5%;height: 10%; margin-top: 7; ">
                    {%else%}
                    <img  src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                    class="card-img-top" alt="My profile picture" style="border-radius: 50%; width: 5%; margin-top: 7%;">
                    
                    <div><a class='btn btn-default' href="/profile" style="font-weight: 700;">{{pic.user}}</a></div>
            {% endif %}
   <div class="">
    <div class="col-md-12" > 
        <h4>{{pic.title}}</h4>


        <div data-toggle="modal" data-target="#showPicModal{{pic.id}}">
            <img class="images" src="{{pic.image.url}}" alt="image1">
        </div>
        {{pic.post_date}}
        <div>
            <p>COMMENTS:</p>
                {% for comment in pic.saved_comments %}

                <p> <span><strong>{{comment.user}}</strong></span>: {{comment.comment}}</p>

                {% endfor %}
          </div>
    </div>
    <form action="{% url 'comments' image_id=pic.id%}" class="comment-form com" method="post"
                  enctype="multipart/form-data">
                  {% csrf_token%}
                  {% bootstrap_form form %}
                  <div class="form-group text-center">
                      <input type="submit" class="btn btn-primary login-btn" value="Comment">
                  </div>
                  <input type="hidden" name="next" value="{{next}}">
   </div>
    <form action = "{% url 'like-image' %}"   method='POST'>
        {% csrf_token %}
        <input type="hidden" name="image_id" value="{{pic.id}}">
        {%if user not in pic.liked.all %}
        <button class="btn btn-success" type="submit">like</button>
        {% else %}
        <button class="" type="submit">Dislike</button>
        {% endif %}
  </form>
  <strong>{{pic.liked.all.count}}Like(s)</strong>
  {% endfor %}

    <div class="modal fade" id="showPicModal{{pic.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterName" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-name" id="modalPicName">{{pic.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{pic.image.url}}" class="images" alt="{{pic.title}}">
                    <p class="text-centre">{{pic.caption}}</p>
                    <div class="row">

                      
                    </div>

                    <p>Date Posted: {{pic.post_date}}</p>

                </div>
                <div class="modal-footer">
                    <input class="form-control" type="text" value="{{pic.image.url}}" id="{{pic.id}}.url">
                    <button class="btn-btn-success">Copy link</button>
                </div>
            </div>
        </div>
    </div>


   </div>
    
</div>

{% endblock %}